                <h1>Selecione o modelo</h1>
                    <div class="row">
                        {% for model in models %}
                        <article class="col-lg-4 col-sm-6" data-id="{{ model.id }}" data-name="{{ model.name }}" data-price="{{ model.price }}">
                            <img class="img-responsive" src="{% path model.mainImage, 'big' %}" alt="{{ model.name }}"/>
                            <p>
                                <strong>{{ model.name }} - {{ model.motorization }}</strong>
                                <span>R${{ model.price }}</span>
                            </p>
                        </article>
                        {% endfor %}
                    </div>