{#
{% extends 'base.html.twig' %}           
{% block body %}
#}
<section id="page-4" class="page container-fluid">
                    <h1>Selecione a cor</h1>
                    <div id="colored-car">
                        <img id="model-color" data-id="{{ model.modelColors[0].id }}" data-name="{{ model.modelColors[0].color.name }}" data-price="{{ model.modelColors[0].price }}" src="{% path model.mainImage, 'big' %}" alt=""/>
                    </div>
                    <div id="confirm-color" class="pt-touch-button">
                        Confirmar cor
                    </div>
                    <div class="row">
                        {% for modelColor in model.modelColors %}
                            <article data-id="{{ modelColor.id }}" data-src="{% path modelColor.image, 'big' %}" data-price="{{ modelColor.price }}" class="color-block col-lg-4 col-sm-6" style="background-color: #{{ modelColor.color.rgb }}">
                                <strong>{{ modelColor.color.name }}: + R${{ modelColor.price }}</strong>
                            </article>
                        {% endfor %}
                    </div>
                </section>
                <section id="page-5" class="page container-fluid">
                    <h1>Selecione os kits e acessórios</h1>
                     <div id="confirm-acessories" class="pt-touch-button">
                        Confirmar acessórios
                    </div>
                    <div class="row">
                        {% for kit in model.kits %}
                            
                        <article data-basePrice="{{kit.basePrice}}" data-acessories="{% for acessory in kit.acessories %}{{acessory.id}}{% if not loop.last %},{% endif %}{% endfor %}" data-type="kit" data-id="{{ kit.id }}" data-price="{{ kit.calculatedPrice }}" class="acessory-block kit col-lg-3 col-sm-4 col-xs-6" >
                            <strong>{{ kit.name }} - R${{ kit.calculatedPrice }}</strong>
                            <p>
                                {{ kit.description }}
                            </p>
                            {% if kit.acessories is not empty %}
                                <strong>Inclusos:</strong>
                                <ul>
                                {% for acessory in kit.acessories %}
                                    <li>{{ acessory.name }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            <div class="btn-acessory">
                                <span class="btn-acessory-label">Adicionar</span>
                            </div>
                        </article>
                        {% endfor %}
                        
                        {% for acessory in model.acessories %}
                        <article data-type="acessory" data-id="{{ acessory.id }}" data-price="{{ acessory.price }}" class="acessory-block col-lg-3 col-sm-4 col-xs-6">
                            <h3>Acessório:</h3>
                            <strong>{{ acessory.name }} - R${{ acessory.price }}</strong>
                            <div class="btn-acessory">
                                <span class="btn-acessory-label">Adicionar</span>
                            </div>
                        </article>
                        {% endfor %}
                    </div>
                </section>
                    {#
                    {% endblock %}
                        #}